body {
    background: #ecf0f1;
    margin: 0;
}

input {
    background-color: unset;
    border: none;
    border-bottom: 3px solid #fff;
    padding: 10px 20px;
    color: #fff;
}
input:focus {
    outline: none;
}
input::placeholder {
    color: #fff;
}

.btn {
    cursor: pointer;
}

.clock h1 {
    color: #fff;
    transition: color 0.5s ease-in-out;
    font-size: 72px;
    margin-bottom: 0px;
}
.form-todo input {
    margin-bottom: 36px;
}
.todo .todo-List {
    padding: 0;
}
.todo .todo-List li {
    list-style: none;
    color: #fff;
    margin-bottom: 20px;
}
.close-btn {
    background-color: unset;
    margin-right: 20px;
    color: #fff;
    border: none;
}

.form-name,
.greetings {
    display: none;
}

.greetings {
    margin: 8px 0 42px 0;
}

.showing {
    display: block;
}

.date {
    color: #fff;
}

.name h4 {
    font-size: 28px;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.todo-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
    filter: brightness(50%);
}
